
<section class="head" id="nav">
    <div class="head-inner-wrap">
        <div class="profile-pic-div animated">
            <a href="#about" class="profile-pic-link"><img src="{{ site.profile_picture }}" class="profile-pic" style="z-index: -20"/></a>
        </div>
        <div class="head-name head-title animated" id="head-name">{{ site.title }}</div>
        <div class="head-punchline animated">{{ site.description }}</div>
        <br>
        <div class="head-punchline center-align">Department of Economics</div>
        <div class="head-punchline center-align">Virginia Tech</div>
        <div class="head-punchline center-align">Blacksburg</div>
        <div class="head-punchline center-align">VA 24061-0316</div>
        <br>
        <div class="head-punchline center-align">(540)425-6098</div>
        <div class="head-punchline center-align">
            <a href="mailto:{{ site.email }}" style="color: #fff">{{ site.email }}</a>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
    <div class="head-inner-wrap">
        <div class="head-menu-wrap">
            <a class="semi-transparent-button with-border nav-links" href="#assets/doc/CGSONG_CV_2021.doc">CV</a>
            <a class="semi-transparent-button with-border nav-links" href="#about">ABOUT</a>
            <a class="semi-transparent-button with-border nav-links" href="#jmp">JOB MARKET PAPER</a>
            <a class="semi-transparent-button with-border nav-links" href="#extra">CONTACT</a>
        </div>
    </div>
    <div style="position: absolute;"><div style="position: relative; top:-150px; left:225px;"><img src="/assets/images/VT_econ.png" style="z-index: -10; opacity: 0.4;"></img>
    </div>
</section>
