<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                I am a Ph.D. candidate in Economics at Virginia Tech. 
                Experimental Economics and Behavioral Economics are my main research interests. 
                My experimental work focuses on the sequential multi-battle contest that models the primary elections in the United States.
                On the other hand, my research on behavioral models covers various topics such as time preference and risk preference. 
            </p>
            <p class="paragraph-text justify-text">
                I hold a master's degree in Economics from Virginia Tech, 
                a master's degree in Statistics from the University of California, Santa Barbara, 
                and a bachelor's degree in Economics from Kansas State University. 
                The background colors of this website are the Royal Purple from K-Sate, 
                the Navy, Gold from UC Santa Barbara, 
                and the Chicago Maroon, Burnt Orange from Virginia Tech. 
            </p>
        </div>
    </section>
</div>
