<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                I am a Ph.D. candidate in Economics at Virginia Tech. 
                Experimental Economics and Behavioral Economics are my main research interests. 
                My experimental work focuses on the sequential multi-battle contest that models the primary elections in the United States.
            </p>
            <p class="paragraph-text justify-text">
                I hold a master's degree and a bachelor's degree in Economics from Sungkyunkwan University. Back then, I was into studying applied microeconomics and communication games.
            </p>
        </div>
    </section>
</div>
