<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                I am a Ph.D. candidate in Economics at Virginia Tech. My research field is public choice and voting. My work is mainly about evaluating voting rules and estimating voting paradoxes by empirical modeling. I hope it could be a small contribution to finding the next "standard" of voting rules other than Plurality. I am also interested in techniques to capture the distribution of persons' preferences from the data and human behavior.
            </p>
            <p class="paragraph-text justify-text">
                I hold a master's degree and a bachelor's degree in Economics from Sungkyunkwan University. Back then, I was into studying applied microeconomics and communication games.
            </p>
        </div>
    </section>
</div>
<hr style="border: outset 5px rgba(255, 0, 0, 0.158); width: 75%;">
<div id="about-text" class="multi">
    <p class="paragraph-text">
        <b style="color: rgba(255, 0, 0, 0.158)">Primary Fields:</b> <br>
        Public Choice, Analyses of Voting <br>
        <br>
        <br>
        <b style="color: rgba(255, 0, 0, 0.158)">>Secondary Field:</b> <br>
        Applied Microeconomics
    </p>
</div>
<hr style="border: outset 5px rgba(255, 0, 0, 0.158); width: 75%;">
