<div class="section-wrapper">
    <section class="section about" id="info">
           
  
        
        <div class="multi">
            <hr class="no-col" style="border: none 5px; border: double rgb(81, 40, 136); width: 100%;">
            
            <p class="paragraph-text">
            <b class="paragraph-text" style="color:rgb(81, 40, 136)"> Primary Field:</b> <br>
             Experimental Economics </p>
            
            <ul>
                <li><a href="/kevinzou/assets/doc/groupsize.pdf"> Group Size Effect in Sequential Multi-Battle Contests: 
                An Experiment Study (Job Market Paper) </a></li>
           
            <br>
                <ul>
                    <li><a href="/kevinzou/assets/doc/Instructions.pdf"> Supplementary Material </a></li>
                </ul> 
            
                 <li>Forthcoming: New Hampshire or Super Tuesday, Does the Weight Matter?</a></li>
            </ul> 
      
            
 
            <p class="paragraph-text">
            <b class="paragraph-text" style="color:rgb(81, 40, 136)"> Secondary Field:</b><br>
            Behavioral Economics </p>
           
        
            <ul>
                <li><a href="/kevinzou/assets/doc/timepref.pdf"> The Perception of Present: A Study of Inconsistency in 
                Discount Rate with the General Quasi-Hyperbolic Discounting Model (Working Paper)</a></li> 
            </ul> 
         

            
            <h3></h3>
    
            
            <b class="paragraph-text" style="color:rgb(81, 40, 136)"> Dissertation Committee:</b><br>
            
            <p class="paragraph-text"> Dr. Sheryl Bal (Advisor) <br>
            <a href="mailto:{{ ntideman@vt.edu }}">sball@vt.edu</a></p>

            <p class="paragraph-text"> Dr. Alec Smith (Co-advisor) <br>
            <a href="mailto:{{ ashleyr@vt.edu }}">alecsmith@vt.edu</a></p>
            
            
            <p class="paragraph-text"> Dr. Walid Saad <br>
            <a href="mailto:{{ erbahel@vt.edu }}">erbahel@vt.edu</a></p>
            
            <p class="paragraph-text"> Dr. Klaus Moeltner <br>
            <a href="mailto:{{ erbahel@vt.edu }}">moeltner@vt.edu</a></p>
            
            <p class="paragraph-text"> Dr. Matthew Kovach <br>
            <a href="mailto:{{ erbahel@vt.edu }}">mkovach@vt.edu</a></p>
            
            
            
            <hr class="no-col" style="border: none 5px; border: double rgb(81, 40, 136); width: 100%;">
        </div>
    </section>
</div>
