<div class="section-wrapper">
    <section class="section about" id="info">
        <div class="multi">
            <hr class="no-col" style="border: none 5px; border: double rgb(192, 50, 50); width: 100%;">
            <p class="paragraph-text">
            <b class="paragraph-text" style="color:rgb(192, 50, 50)"> Primary Fields:</b> <br>
             Public Choice, Analyses of Voting </p>
            
            <p class="paragraph-text">
            <b class="paragraph-text" style="color:rgb(192, 50, 50)"> Secondary Field:</b><br>
            Applied Microeconomics </p>
            
            <p class="paragraph-text">
            <b class="paragraph-text" style="color:rgb(192, 50, 50)"> Expected Graduation Date:</b><br>
            May 2022 </p><br>
            <h3></h3>
            <b class="paragraph-text" style="color:rgb(192, 50, 50)"> Dissertation Committee:</b><br>
            
            <p class="paragraph-text"> Dr. Nicolaus Tideman (Primary) <br>
            <a href="mailto:{{ ntideman@vt.edu }}">ntideman@vt.edu</a></p>

            <p class="paragraph-text"> Dr. Richard Ashley <br>
            <a href="mailto:{{ ashleyr@vt.edu }}">ashleyr@vt.edu</a></p>
            
            <p class="paragraph-text"> Dr. Eric Bahel <br>
            <a href="mailto:{{ erbahel@vt.edu }}">erbahel@vt.edu</a></p>
            
            <p class="paragraph-text"> Dr. Florenz Plassmann <br>
            <a href="mailto:{{ plassmann@ohio.edu }}">plassmann@ohio.edu</a></p>
            <hr class="no-col" style="border: none 5px; border: double rgb(192, 50, 50); width: 100%;">
        </div>
    </section>
</div>