me<div class="section-wrapper">
    <section class="section about" id="info">
        <div class="multi">
            <hr class="no-col" style="border: none 5px; border: double rgb(192, 50, 50); width: 100%;">
            <p class="paragraph-text">
            <b class="paragraph-text" style="color:rgb(192, 50, 50)"> Primary Fields:</b> <br>
             Experimental Economics </p>
            
            <p class="paragraph-text">
            <b class="paragraph-text" style="color:rgb(192, 50, 50)"> Secondary Field:</b><br>
            Behavioral Economics </p>
            
            <p class="paragraph-text">
            <b class="paragraph-text" style="color:rgb(192, 50, 50)"> Expected Graduation Date:</b><br>
            May 2022 </p><br>
            <h3></h3>
            <b class="paragraph-text" style="color:rgb(192, 50, 50)"> Dissertation Committee:</b><br>
            
            <p class="paragraph-text"> Dr. Sheryl Bal (Adviser) <br>
            <a href="mailto:{{ ntideman@vt.edu }}">sball@vt.edu</a></p>

            <p class="paragraph-text"> Dr. Alec Smith (Co-Adviser) <br>
            <a href="mailto:{{ ashleyr@vt.edu }}">alecsmith@vt.edu</a></p>
            
            <p class="paragraph-text"> Dr. Walid Saad <br>
            <a href="mailto:{{ erbahel@vt.edu }}">erbahel@vt.edu</a></p>
            
            <p class="paragraph-text"> Dr. Klaus Moeltner <br>
            <a href="mailto:{{ erbahel@vt.edu }}">moeltner@vt.edu</a></p>
            
            <p class="paragraph-text"> Dr. Matthew Kovach <br>
            <a href="mailto:{{ erbahel@vt.edu }}">mkovach@vt.edu</a></p>
            
            
            
            <hr class="no-col" style="border: none 5px; border: double rgb(192, 50, 50); width: 100%;">
        </div>
    </section>
</div>
