<div class="section-wrapper">
    <section class="section about" id="jmp">
        <div id="jmp-text">
            <div class="section-heading">Job Market Paper</div>
            <p class="paragraph-text justify-text">
                <a href="/assets/doc/CGSONG_EPV.pdf">Estimating the Probability of Voting Cycle</a>
            </p>
            </div>
            <div class="section-heading">Working Paper</div>
            <p class="paragraph-text justify-text">
                <a href="/assets/doc/CGSONG_EPV.pdf">Estimating the Probability of Voting Cycle</a>
            </p>
            </div>
        
        </div>    
    </section>    
</div>
