<div class="section-wrapper">
    <section class="section about" id="wip">
        <div id="about-text">
            <div class="section-heading">Research In-Progress</div>
            <p class="paragraph-text justify-text">
                <a href="paper/EPV_2021.doc">The Frequency of Cycles and Condorcet Inconsistency with IRV
                    in FairVote and Politbarometer Data</a>
            </p>
            <p class="paragraph-text justify-text">
                abstract.
            </p>
            <p class="paragraph-text justify-text">
                
            </p>
            <br>
            <br>
            <br>
            <p class="paragraph-text justify-text">
                <a href="paper/EPV_2021.doc">Inferring the Network within Korean Congressmembers based on their propositions</a> (with Dongwoo Lee and Sunjin Kim)
            </p>
            <p class="paragraph-text justify-text">
                abstract.
            </p>
            <p class="paragraph-text justify-text">
                
            </p>
        </div>
    </section>
</div>
