<div class="section-wrapper">
    <section class="section about" id="wip">
        <div id="about-text">
            <div class="section-heading">Work In-Progress</div>
            <p class="paragraph-text justify-text">
                <a href="paper/EPV_2021.doc">The Frequency of Cycles and Condorcet Inconsistency with IRV
                    in FairVote and Politbarometer Data</a>
            </p>
            <p class="paragraph-text justify-text">
                abstract.
            </p>
            <p class="paragraph-text justify-text">
                testing.
            </p>
        </div>
    </section>
</div>
