<div class="section-wrapper">
    <section class="section about" id="wip">
        <div id="working-text">
            <div class="section-heading">Research In-Progress</div>
            <p class="paragraph-text justify-text">
                <a href="/assets/doc/CondorcetandIRV.pdf">The Frequency of Cycles and Condorcet Inconsistency with IRV
                    in FairVote and Politbarometer Data</a>
            </p>
            <details>
                <summary class="paragraph-button">abstract</summary>
    
                <p class="paragraph-button justify-text">
                (Working) <br>
                Instant Runoff Voting (IRV) or “the alternative vote” is now used by some countries and large cities in the US. Studies have concerned about a severe disadvantage of IRV, monotonicity failure, with theoretical approaches, but not much with data analysis. We address empirical analysis with two particular data sets, actual elections (FairVote) and surveys (Politbarometer). We estimate the frequency of Condorcet paradox and Condorcet inconsistent result of IRV, which is deeply related to the monotonicity criterion. We check the vote gap between the Condorcet winner and the Condorcet loser for Condorcet paradox, and that of between the Condorcet winner and a candidate who got fewer votes in two non-Condorcet winners by plurality rule for Condorcet inconsistency. About 1,000 synthetic elections, we found one Condorcet Paradox and twenty Condorcet inconsistencies (frequency of monotonicity failure is 2.15%). Our model provides 2.18~5.46% and 2.35~2.71% from two data sets.
                </p>
            </details>
            <br>
            <br>
            <br>
            <p class="paragraph-text justify-text">
                <a href="/assets/doc/NSM_4C3D.pdf">Normal Spatial Model with Four Candidates in Three Dimensions: Parameterization and Approximation</a>
            </p>
            <details>
                <summary class="paragraph-button">abstract</summary>
    
                <p class="paragraph-button justify-text">
                (working)<br>
                When there are two alternatives, the best way to decide one for group decision-making is majority rule. However, when there are more than two available options, it is not straightforward. Most of the previous literature of relevant fields focused on the three-candidate election, and when researchers were adopting spatial model, it is one-dimensional or two-dimensional. This paper targets a normal spatial model (Good and Tideman, 1976) with four candidates in three-dimensional attribute space. Most of our research is about the modeling process and technical details, parameterization of the models that can best describe the actual rank data. Furthermore, we test whether bimodal multivariate normal distribution assumption is more likely than unimodal multivariate normal distribution by AIC and BIC criteria.
                </p>
            </details>
            <div class="grid-image">
                <img alt="" src="/assets/images/fig11.png" />
                <!-- <img alt="" src="/assets/images/fig04.png" />
                <img alt="" src="/assets/images/fig05.png" />
                <img alt="" src="/assets/images/fig06.png" /> -->
            </div>
            <br>
            <br>
            <br>
            <p class="paragraph-text justify-text">
                <a href="paper/EPV_2021.doc">Inferring the Network within Korean Congressmembers Based on Their Propositions</a> (with Dongwoo Lee and Sunjin Kim)
            </p>
            <details>
                <summary class="paragraph-button">abstract</summary>
    
                <p class="paragraph-button justify-text">
                (working)
                </p>
            </details>
        </div>
    </section>
</div>
