<div class="section-wrapper">
    <section class="section about" id="jmp">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                Testing.
            </p>
            <p class="paragraph-text justify-text">
                Testing. <a href="https://www.google.co.kr">google.co.kr</a> 
            </p>
            <p class="paragraph-text justify-text">
                I am not familiar with making a webpage with html editing. holly...My email address can be found at the <span class="extra-link"><a href="#extra">bottom</a></span> of this page.
            </p>
        </div>
    </section>
</div>
